{% extends 'base.html' %} {% block content %}

<section class="jumbotron text-center">
  <div class="container">
    <h1>About us</h1>

    <p class="lead text-muted">
      Its obvious that I'm huge Eminem fan that's why i created this page. My
      first project i wanted this for long time. Thanks for visiting. :)
    </p>

    <h2>About Eminem</h2>

    <p>
      A legendary hip-hop icon who started as an underground battle rapper in
      Detroit, Marshall “Eminem” Bruce Mathers III (1972 – present) has
      developed a career full of controversy, wild swings, and some of the most
      noteworthy raps in the history of the genre.
    </p>
    <p>
      Eminem has broken countless barriers, shifting and impacting the culture
      in several ways. In June 2017, “Stan” was added into the Oxford
      Dictionary, and in 2019, to the Merriam-Webster dictionary. He was the
      first rapper to win the Grammy Award for Best Album for three consecutive
      albums. “Rap God” set the Guinness World Record for most words in a song.
      He was also the first rapper to win an Oscar. His albums The Marshall
      Mathers LP and The Eminem Show became certified Diamond by the RIAA in
      2011, making him one of the few artists to have more than one Diamond
      album. This has helped him become the highest selling hip-hop artist of
      all time. In January 2020, with his 11th studio album Music to Be Murdered
      By debuting at #1 on the Billboard 200, Eminem became the first artist in
      history to have 10 consecutive #1 debuts.
    </p>

    <p>
      Produced and co-signed by Dr. Dre, Em had an unprecedented run of success
      from 1999 up until 2003, releasing three well-reviewed multi-platinum
      albums, stealing the show on countless collaborations, and even starred in
      a hit movie. However, it all came crashing down around 2004, when a string
      of problems ranging from drug dependence to depression to the tragic death
      of best friend Deshaun “Proof” Holton in 2006 led to a long hiatus from
      music and a pair of what were, by his own admission, sub-par albums.
    </p>

    <p>
      This led to Em switching his style up from his previously shock-oriented
      lyrics to more emotional subject matters on the 2010s Recovery. This was a
      well-received and Grammy-award winning album, and he employed a very
      similar approach to 2013’s The Marshall Mathers LP 2, the well-received
      sequel to Em’s magnum opus.
    </p>

    <p>
      Eminem invested himself farther than ever into this new emotional style
      with 2017’s Revival, which included lyrics about his place in hip-hop, as
      well as modern issues including President Donald Trump. Despite the
      serious direction, many were turned off to the album due to its heavy
      Rock-sampling, with many considering it one of, if not his weakest
      project.
    </p>

    <p>
      Following the controversy surrounding Revival and criticism of his
      modern-style, Eminem surprise-released Kamikaze on 31 August 2018, which
      responded to critics of Revival and his career overall. The album was
      received much better than his previous and went on to be the highest
      selling rap album of 2018.
    </p>

    <p>
      Once again by surprise, Eminem released Music to Be Murdered By on 17
      January 2020, being Eminem’s first full-length project for the new decade.
      The album, similar to 2018’s Kamikaze, includes fast-paced rapping and
      heavy rhyming. The album’s cover is a reference to Sir Alfred Hitchcock,
      and his 1958 debut album Music to Be Murdered By.
    </p>

    <p>
      He has an extensive list of hit singles; some of the most popular include
      “Without Me,” “Lose Yourself,” “Stan,” “The Real Slim Shady,”
      “Mockingbird,” “When I’m Gone,” “Love the Way You Lie,” “Not Afraid,” “The
      Monster,” “Rap God” and “River.”
    </p>

    <p>
      Em is one half of Bad Meets Evil with Royce Da 5'9", and was a part of D12
      with Mr. Porter, Kuniva, Swifty McVay, & Bizarre, and formerly with Proof,
      Bugz & Fuzz Scoota.
    </p>

    <p>
      Eminem founded Shady Records in 1999 after the success of The Slim Shady
      LP and served as the label’s president along with his manager, Paul
      Rosenberg.
    </p>

    <p>
      As of February 8, 2018, Eminem’s “Lose Yourself” is officially certified
      diamond in the United States, meaning the song has sold over 10 million
      copies. It’s Eminem’s third diamond single after “Not Afraid” and “Love
      the Way You Lie." Eminem is now the first rapper and only the second
      artist to ever achieve this accolade.
    </p>
  </div>
  <section
    class="mbr-section form1 cid-qyvf9K0GGo"
    id="form1-4"
    data-rv-view="791"
  >
    <div class="container">
      <div class="row justify-content-center">
        <div class="title col-12 col-lg-8">
          <h2
            class="mbr-section-title align-center pb-3 mbr-fonts-style display-2"
          >
            CONTACT US
          </h2>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="media-container-column col-lg-8" data-form-type="formoid">
          <div data-form-alert="" hidden="">
            Thanks for filling out the form!
          </div>

          <form
            class="mbr-form"
            action="https://mobirise.com/"
            method="post"
            data-form-title="Mobirise Form"
          >
            <input
              type="hidden"
              data-form-email="true"
              value="R46ImfT8lRYLhZq6vpVE63L0V35bOdmwHjgn18Tp/HdDujD3JfWe/8bm7YjE2vjZZ7JFQMRNRIinYQUh3aNa2qi1GshxArFhHAffNuiFsZiNLfMCF8KElmS7V7lbqBIL"
            />
            <div class="row row-sm-offset">
              <div class="col-md-4 multi-horizontal" data-for="name">
                <div class="form-group">
                  <label
                    class="form-control-label mbr-fonts-style display-7"
                    for="name-form1-4"
                    >Name</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    name="name"
                    data-form-field="Name"
                    required=""
                    id="name-form1-4"
                  />
                </div>
              </div>
              <div class="col-md-4 multi-horizontal" data-for="email">
                <div class="form-group">
                  <label
                    class="form-control-label mbr-fonts-style display-7"
                    for="email-form1-4"
                    >Email</label
                  >
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    data-form-field="Email"
                    required=""
                    id="email-form1-4"
                  />
                </div>
              </div>
              <div class="col-md-4 multi-horizontal" data-for="phone">
                <div class="form-group">
                  <label
                    class="form-control-label mbr-fonts-style display-7"
                    for="phone-form1-4"
                    >Phone</label
                  >
                  <input
                    type="tel"
                    class="form-control"
                    name="phone"
                    data-form-field="Phone"
                    id="phone-form1-4"
                  />
                </div>
              </div>
            </div>
            <div class="form-group" data-for="message">
              <label
                class="form-control-label mbr-fonts-style display-7"
                for="message-form1-4"
                >Message</label
              >
              <textarea
                type="text"
                class="form-control"
                name="message"
                rows="7"
                data-form-field="Message"
                id="message-form1-4"
              ></textarea>
            </div>

            <span class="input-group-btn"
              ><button
                href=""
                type="submit"
                class="btn btn-form btn-black-outline display-4"
              >
                SEND FORM
              </button></span
            >
          </form>
        </div>
      </div>
    </div>
  </section>
</section>

{% endblock%}
