{% extends 'base.html' %} {% block content %}

<div class="container my-4">
  <div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row">
      {% for instance in object_list %}
      <div class="col-lg-4 my-2">
        <p>
          <a
            class="btn btn-secondary mx-auto d-block"
            href="../{{instance.album_id}}"
            role="button"
            >{{instance.album_name}}</a
          >
        </p>
      </div>
      {% endfor %}
    </div>
    <!-- /.row -->
  </div>
</div>
{% endblock%}
